body{
    font-family: 'Sans-Serif' ,sans-serif;
}

#primeiro {
    font-size: 25px;
    color: tomato;
}

#titulo {
    color: blue;
    font-size: 50px;
}

.texto {
    color: orange;
    font-size: 35px;
}

.container {
    width: 200px;
    height: 100px;
    border: 1px solid #000;
    border-radius: 5px;
}

.maior {
    width: 400px;
    border: 2px solid red;
}

/* formata todos os elementos da página  */
/* * {                     
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */

/* Formatação adjacente */
ul + a {
    font-size: 25px;
    color: #000;
    text-decoration: none;
} 

/* formataçao todos os a depois da UL*/
ul ~ a {
    font-size: 25px;
    color: #000;
    text-decoration: none;
} 

/* formatação para os descendentes diretos */
div > p {
    color: red;
}

/* formatação específica */
li:hover {
    color: red;
    font-size: 30px;
}

li:nth-child(2){
    color: red;
    font-size: 30px;
}

li:last-child{
    color: red;
    font-size: 30px;
}

li:first-child{
    color: red;
    font-size: 30px;
}

/* eLementos pares */
li:nth-child(even){
    color: red;
    font-size: 30px;
}
/* elementos impares */
li:nth-child(odd){
    color: red;
    font-size: 30px;
}

/* nega a formatação do elemento */
li:not(:last-child){
    color: red;
    font-size: 30px;
}